<nav class="navbar navbar-wrapper navbar-inverse navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "CodeMirror?", root_path, :class => 'brand' %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#trycm-header">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="trycm-header" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right disco-toolbar">
        <li><%= link_to "All Tests", tests_path %></li>
        <li><%= link_to "New Test", new_test_path %></li>
      </ul>
    </div>
  </div>
</nav>
