<div class="col-md-10 col-md-offset-1">
  <% if @tests.length == 0 %>
    <h1>No Tests</h1>
  <% else %>
    <h1> Tests</h1>
    <ol>
      <% @tests.each do |test| %>
        <li> 
          <%= link_to test.name, edit_test_path(:id => test.id) %>
          <%= button_to test_path(test.id), :method => 'delete', :class => 'btn-default btn-small' do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% end %>
  <%= link_to 'New Test', new_test_path, :class => 'btn btn-default' %>
</div>
